@import "root.css";

.site-header {
    margin: 1.5rem 1rem;
    min-height: 3rem;
    display: flex;
    flex-direction: column;
}

.site-header a {
    color: var(--head-color);
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/*#light-mode-btn,*/
/*#dark-mode-btn {*/
/*    background: none;*/
/*    border: none;*/
/*    !*width: 75px;*!*/
/*    display: flex;*/
/*    justify-content: end;*/
/*    align-items: center;*/
/*    font-size: 16px;*/
/*    font-weight: 500;*/
/*    color: var(--darklight-color);*/
/*    cursor: pointer;*/
/*}*/

/*#light-mode-btn:hover,*/
/*#dark-mode-btn:hover {*/
/*    color: var(--followTotal-color);*/
/*}*/

.bottom-header {
    margin-top: 1rem;
}

.bottom-header ul {
    display: flex;
    justify-content: end;
}

.bottom-header ul li {
    margin: 0 .1rem 0 0;
    padding: .5rem 1rem;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.bottom-header ul li:first-of-type {
    margin: 0;
    /*padding: .5rem 0 .5rem 1rem;*/
    padding-left: 0;
}

.bottom-header ul li a {
    font-size: 16px;
    letter-spacing: 2px;
}

.bottom-header ul li a:hover {
    color: #61CE70;
}

.color-mode {
    display: flex;
    justify-content: space-between;
}

.social {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
