:root {
    --body-bg-color: #151515;
    --footer-bg-color: #242424;
    --head-color: #fff;
    --darklight-color: #d2d2d2;
    --search-bg-color: #1e2a47;
    --search-color: #fff;
    --black: #fff;
    --follow-color: #fff;
    --followTotal-color: #fff;
    --social-color: #fff;
    --links-bg-color: #697c9a;
    --hover-state-links: #9b9b9b;
    --icon-color: trasparent;
    --underscore-color: #4ee1a0;
}

/*:root[color-mode="light"] {*/
/*    --body-bg-color: #f6f8ff;*/
/*    --footer-bg-color: #d2d2d2;*/
/*    --head-color: #222731;*/
/*    --darklight-color: #697c9a;*/
/*    --search-bg-color: #fff;*/
/*    --search-color: #4b6a9b;*/
/*    --black: #000;*/
/*    --follow-color: #4b6a9b;*/
/*    --followTotal-color: #2b3442;*/
/*    --links-bg-color:#4b6a9b;*/
/*    --hover-state-links: #54769f;*/
/*    --icon-color: #333;*/
/*}*/